* {
    margin: 0;
    padding: 0;
}

html, body{
    background-color: #111;
    height: 100%;
    width: 100%;
}

$clr_1: #3532a7;
$clr_2: #646ecb; 
$clr_3: #b793e6; 
$clr_4: #eae7ed; 
$clr_5: #36d1c4; 
$clr_6: #a0eecc; 
$clr_7: #f6318c; 
$clr_8: #a6cb12; 
$clr_9: #47d6b6;